@{
    ViewData["Title"] = "Home Page";
}

<br>
<br>
<br>
<form action="https://formsubmit.co/rutcunoficial@gmail.com" method="POST">
    <div class="form">
        <h1>Enviar Correo</h1>
        <div class="grupo">
            <a>Nombre</a>
            <label for="Nombre">Nombre</label>
            <input type="text" name="name" id="" required><span class="barra"></span>

        </div>
        <div class="grupo">
            <a>Email</a>
            <label for="Email">Email</label>
            <input type="email" name="Email" id="" required><span class="barra"></span>


        </div>
        <div class="grupo">
            <a>Asunto</a>
            <label for="sunject">Asunto</label>
            <input type="text" name="subject" id="" required><span class="barra"></span>

        </div>
        <div class="grupo">
            <a>Mensaje</a>
            <label for="comments">Mensaje</label>
            <textarea name="comments" id="" rows="3" required></textarea><span class="barra"></span>

        </div>
        <button><input type="submit" value="Enviar" asp-controller="Home" asp-action="Index"></button>

        <input type="hidden" name="_next" value="rutcun.html">
        <input type="hidden" name="_captcha" value="false">
    </div>
</form>